.navbar {
    display: flex;
    border: 2px solid white;
    width: 600px;
    padding: 10px 10px;
    border-radius: 2px;
    text-transform: uppercase;

}

.navbar a{
    text-decoration:none;
    color: white;
    padding: 0 10px;
    margin: 0 auto;
}

.navbar a:hover{
    color: #65db6b;
    background-color: white;
    border-radius: 2px;
}


