body {
    background-color: #eedad1;
}


.App {
    border: 5px solid #7777;
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 3px;
    padding-top: 50px;
    color: white;
    background: linear-gradient(#7e79ad, #3F3D56);
}

.mes__questions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mes__questions .btn__choix{
    margin-top: 20px;
    width: 300px;
    background: linear-gradient(#d1d1d1, #b3b3b3);
    border-radius: 2px;
    border: none;
    color: white;
    padding: 10px 10px;
}

.mes__questions .btn__choix:hover{
    background: linear-gradient(#fecb89, #ffa931);
}

.btn__next {
    margin-top: 20px;
    background: linear-gradient(#65db6b, #49994d);
    border-radius: 2px;
    border: none;
    padding: 20px 20px;
    color: white;
    margin-bottom: 50px;
}

.btn__next:hover {
    background: linear-gradient(#49994d, #65db6b);
}

.--valid {
    background: linear-gradient(#49994d, #65db6b) !important;
}

.btn__choix:active, .btn__choix:focus{
   outline: none;
}

.categorie__container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
}

.img__categories {
    width: 500px;
    height: 300px;
    margin-top: 20px;
    border-radius: 3px;
    margin-bottom: 30px;
}

.img__categories:hover {
    border: 1px solid white;
}

.--margin__categorie {
    margin-bottom: 60px;
}

.title__app {
    text-align: center;
    color: white;
    margin-top: 100px;
    font-size: 60px;
}

.zz {
    color:#7e79ad;
}

.copyright {
    text-align: center;
    color: white;
    padding: 10px 10px;
}